In [15]:
import pandas as pd

In [76]:
train = pd.read_csv("ml-1m/train.csv", sep='\t')
dev = pd.read_csv("ml-1m/dev.csv", sep='\t')
test = pd.read_csv("ml-1m/test.csv", sep='\t')
train['time'] = pd.to_datetime(train['time'], unit='s')
dev['time'] = pd.to_datetime(dev['time'], unit='s')
test['time'] = pd.to_datetime(test['time'], unit='s')

In [77]:
train.head()

   user_id  item_id                time
0     6040      803 2000-04-25 23:05:32
1     6040      580 2000-04-25 23:05:54
2     6040     2192 2000-04-25 23:05:54
3     6040     1782 2000-04-25 23:06:17
4     6040     1840 2000-04-25 23:06:17

In [78]:
dev.head()

,user_id,item_id,time,neg_items
0,6034,1092,2000-04-26 01:26:28,"[2509, 746, 1076, 1395, 1327, 1558, 2298, 2436..."
1,6035,1584,2000-04-26 01:47:12,"[3385, 2862, 3106, 533, 3579, 2214, 568, 1827,..."
2,6033,1450,2000-04-26 01:55:12,"[647, 2361, 1417, 2479, 3631, 3502, 602, 1232,..."
3,6038,2496,2000-04-26 02:10:51,"[634, 1845, 2602, 135, 3165, 571, 2929, 3649, ..."
4,6031,1454,2000-04-26 03:09:49,"[3565, 3314, 1943, 1212, 3229, 1768, 1610, 204..."

In [79]:
test.head()

,user_id,item_id,time,neg_items
0,6034,2776,2000-04-26 01:26:28,"[2733, 2608, 1654, 3265, 836, 764, 1732, 3432,..."
1,6035,2931,2000-04-26 01:47:20,"[3013, 1072, 640, 2037, 1156, 973, 2917, 1205,..."
2,6033,1540,2000-04-26 01:55:12,"[2345, 1353, 3092, 608, 1435, 2499, 1273, 181,..."
3,6038,1095,2000-04-26 02:46:44,"[2122, 298, 2968, 731, 1971, 2925, 1796, 1824,..."
4,6031,355,2000-04-26 03:09:49,"[607, 3609, 2677, 1216, 1220, 1332, 137, 953, ..."

In [20]:
users_to_remove = test[~test['item_id'].isin(train['item_id'])]['user_id'].values
train = train[~train['user_id'].isin(users_to_remove)]
dev = dev[~dev['user_id'].isin(users_to_remove)]
test = test[~test['user_id'].isin(users_to_remove)]

In [20]:
import os
DATASET = 'ml-1m-cleared'  # only support "ml-100k" and "ml-1m" now
RAW_PATH = os.path.join('./', DATASET)

train.to_csv(os.path.join(RAW_PATH, 'train.csv'), sep='\t', index=False)
dev.to_csv(os.path.join(RAW_PATH, 'dev.csv'), sep='\t', index=False)
test.to_csv(os.path.join(RAW_PATH, 'test.csv'), sep='\t', index=False)

In [80]:
np.random.seed(8)
subset_users = np.random.choice(train['user_id'], size=20, replace=False)

In [81]:
train_subset = train[train['user_id'].isin(subset_users)]
dev_subset = dev[dev['user_id'].isin(subset_users)]
test_subset = test[test['user_id'].isin(subset_users)]

In [82]:
users_to_remove = dev_subset[~dev_subset['item_id'].isin(train_subset['item_id'])]['user_id']
train_subset = train_subset[~train_subset['user_id'].isin(users_to_remove)]
dev_subset = dev_subset[~dev_subset['user_id'].isin(users_to_remove)]

In [83]:
users_to_remove = test_subset[~test_subset['item_id'].isin(train_subset['item_id'])]['user_id']
train_subset = train_subset[~train_subset['user_id'].isin(users_to_remove)]
test_subset = test_subset[~test_subset['user_id'].isin(users_to_remove)]

In [92]:
dev_subset[~dev_subset['item_id'].isin(train_subset['item_id'])]

Empty DataFrame
Columns: [user_id, item_id, time, neg_items]
Index: []

In [93]:
test_subset[~test_subset['item_id'].isin(train_subset['item_id'])]

Empty DataFrame
Columns: [user_id, item_id, time, neg_items]
Index: []

In [86]:
dev_subset.shape

(17, 4)

In [48]:
train_subset.to_csv("ml-1m-subset/train.csv", index=None, sep='\t')
dev_subset.to_csv("ml-1m-subset/dev.csv", index=None, sep='\t')
test_subset.to_csv("ml-1m-subset/test.csv", index=None, sep='\t')